@mixin card() {
  border-radius: 1rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-content: center;
}

@mixin vertical-gap() {
  margin-top: calc(#{$vertical-gap});
  margin-bottom: calc(#{$vertical-gap});
}

@mixin btn-state($col1, $col2) {
  background-color: $col1;
  color: $col2;
  &:active {
    border: solid;
    background-color: $col2;
    border-color: $col1;
    color: $col1;
  }
}
