@mixin card() {
    border-radius: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    align-content: center;
}

@mixin vertical-gap() {
    margin-top: calc(#{$vertical-gap});
    margin-bottom: calc(#{$vertical-gap});
}