//Sizes
$width-desktop: 90rem;
$width-mobile: 23.438rem;

//Colors
$color-primary-light: hsl(236, 72%, 79%);
$color-primary-dark: hsl(237, 63%, 64%);

$color-very-light: hsl(240, 78%, 98%);
$color-light: hsl(234, 14%, 74%);
$color-neutral: hsl(233, 13%, 49%);
$color-dark: hsl(232, 13%, 33%);

//Typography
$font-size: 0.938rem;
$font-weight: 700;
$font-family: "Overpass", sans-serif; ;

//Layout
$vertical-gap: 2rem;
$box-shadow: 0rem 0rem 1rem 1rem rgba(0, 0, 0, 0.603);