.top {
  &__heading {
    color: $color-neutral;
    font-size: 1.5rem;
  }
  .toggle-box {
    &__option {
      color: $color-light;
    }
  }
}

p,
a,
span {
  font-weight: $font-weight;
}

.plan {
  &__type {
    margin-top: 0;
  }

  &__cost {
    font-size: 4rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  &--inner{
      color: white;
  }
}
